*.o
*.so
*.so.[0-9]
*.bt
.make.state
src/lib/iconv/ja/*.c
src/cmd/auto_ef/hashtable/hashtable.*
proto
repo.redist/
pkg/proto_list_i386
pkg/packages.i386/
src/cmd/auto_ef/auto_ef
src/cmd/auto_ef/hashtable/data_create
src/cmd/auto_ef/lint.out
src/cmd/auto_ef/llib-lauto_ef.ln
src/cmd/auto_ef/spec/mapfile
src/cmd/auto_ef/spec/mapfile.amd64
src/kernel/utf8sb/amd64/
src/kernel/utf8sb/u8koi8
src/kernel/utf8sb/u8lat1
src/kernel/utf8sb/u8lat2
src/lib/iconv/euro/tbl.h
src/uts/amd64/jconv7/jconv7
src/uts/amd64/jconv8/jconv8
src/uts/amd64/jconvrs/jconvrs
src/uts/amd64/jconvru/jconvru
src/uts/amd64/jconvs/jconvs
src/uts/amd64/jconvu/jconvu
src/uts/i86/jconv7/jconv7
src/uts/i86/jconv8/jconv8
src/uts/i86/jconvrs/jconvrs
src/uts/i86/jconvru/jconvru
src/uts/i86/jconvs/jconvs
src/uts/i86/jconvu/jconvu
