#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").  
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#
#
#ident	"@(#)Makefile	1.0	06/03/07	SMI"
#
# Copyright 2006 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
[Desktop Entry]
Encoding=UTF-8
Name=File System Examiner
Name[cs]=File System Examiner
Name[de]=Dateisystem-Prüfung
Name[es]=Examinador del sistema de archivos
Name[fr]=Contrôleur de système de fichiers
Name[hu]=Fájlrendszer vizsgáló
Name[it]=Analizzatore del file system
Name[ja]=ファイルシステム検査器
Name[ko]=파일 시스템 검사기
Name[pt_BR]=Examinador do sistema de arquivos
Name[sv]=Undersökning av filsystem
Name[zh_CN]=文件系统查看器
Name[zh_HK]=檔案系統檢查程式
Name[zh_TW]=檔案系統檢查程式
Comment=Help migrate from legacy encoding to UTF8
Comment[cs]=Pomocník při převodu ze starého kódování na UTF8
Comment[de]=Hilft bei der Umwandlung von der alten Legacy-Codierung nach UTF8
Comment[es]=Ayuda para la migración de una codificación heredada a UTF8
Comment[fr]=Permet de passer du codage existant à UTF8
Comment[hu]=UTF8 adat és fájlnév konverziót lehetővé tevő program
Comment[it]=Facilita la migrazione della codifica a UTF8
Comment[ja]=従来のエンコードから UTF8 への移行を支援する
Comment[ko]=기존 인코딩에서 UTF8로 마이그레이션하는 데 도움
Comment[pt_BR]=Ajudar a migrar da codificação legada para UTF8
Comment[sv]=Hjälp till att byta från den gamla kodningen till UTF8
Comment[zh_CN]=帮助从原有编码迁移至 UTF8
Comment[zh_HK]=協助從原來的編碼遷移至 UTF8
Comment[zh_TW]=協助從原來的編碼遷移至 UTF8
Exec=fsexam %U
Terminal=0
Type=Application
Icon=fsexam-icon.png
Categories=GNOME;Application;System;
StartupNotify=true
